@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --c-purple: #7d2be6;
  --c-purple-linear: #5610af;
  --c-purple-600: #2f0367;
  --c-purple-700: #200543;
  --c-golden-yellow: #ffbb0b;
  --c-orange-300: #ff9a26;
  --c-white: #fff;
  --c-black: #000;
  --c-gray: #5e5e5e;
  --c-gray-light: #d4d4d4;
}

.bg-purple-700 {
  background-color: var(--c-purple-700);
}

.c-text-purple-700 {
  color: var(--c-purple-700);
}

.bg-purple-600 {
  background-color: var(--c-purple-600);
}

.bg-purple-linear {
  background-color: var(--c-purple-linear);
}

.bg-golden-yellow {
  background-color: var(--c-golden-yellow);
}

.c-txt-golden-yellow {
  color: var(--c-golden-yellow);
}

.c-border-golden-yellow {
  border-color: var(--c-golden-yellow);
}

.content {
  max-width: 56.25rem;
  margin: auto;
  width: 100%;
}
